.center{
	display: flex;
	display : -webkit-flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.center-vertical{
	display: flex;
	display : -webkit-flex;
	vertical-align: middle;
	align-items: center;
}

.center-no-text{
	display: flex;
	display : -webkit-flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
}

.mp-0{
	margin: 0 !important;
	padding: 0 !important;
}
.m-0{margin: 0 !important;}
.p-0{padding: 0 !important;}

.div-spacer-140{height:140px}
.div-spacer-130{height:130px}
.div-spacer-110{height:110px}

.disabled{
	cursor: not-allowed;
	pointer-events: none;
}

.hr-line, .hr-line-90, .hr-line-80{
	display: block;
	width: 100%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #b2b2b2;
}
.hr-line-90{width:90%;}
.hr-line-80{width:80%;}

.hr-line-bootstrap{
	width: 130px;
	height: 3px;
	margin: 0 auto;
	background: gray;
}
.hr-line-32{
	width: 32%;
	margin-top: 20px;
	border-top: 1px solid #b2b2b2;
}

.list-no-decorator{
	list-style-type: none;
	text-decoration: none;
}



/* HOVERS */

.a-hover:hover{color:#54b1e3 !important;}
.a-hoverGray:hover{color:#c9c8c8 !important;}

.hov-scale{transition: transform 0.5s;}
.hov-scale:hover{transform: scale(1.125);}
.hov-scale-01{transition: transform 0.5s;}
.hov-scale-01:hover{transform: scale(1.25);}
.hov-back{transition:background 0.3s}
.hov-back:hover{background:white !important;}
.hov-color-00, .hov-color-00 span{transition:color 0.15s}
.hov-color-00:hover, .hov-color-00:hover span{color:#f9ab31 !important;}
.hov-color-01, .hov-color-01 span{transition:color 0.15s}
.hov-color-01:hover, .hov-color-01:hover span{color:#3183f9 !important;}

.c-pointer:hover{cursor:pointer}
.c-default:hover{cursor:default}

.hg-28px{height: 28px;}
.hg-50px{height: 50px;}
.hg-95{height:95%;}
.hg-90{height:90%;}
.hg-85{height:85%;}
.hg-80{height:80%;}
.hg-75{height:75%;}
.hg-70{height:70%;}
.hg-65{height:65%;}
.hg-60{height:60%;}
.hg-55{height:55%;}
.hg-50{height:50%;}
.hg-45{height:45%;}
.hg-40{height:40%;}
.hg-35{height:35%;}
.hg-30{height:30%;}
.hg-25{height:25%;}
.hg-20{height:20%;}
.hg-15{height:15%;}
.hg-10{height:10%;}
.w-90{width:90%;}
.w-85{width:85%;}
.w-80{width:80%;}
.w-75{width:75%;}
.w-70{width:70%;}
.w-65{width:65%;}
.w-60{width:60%;}
.w-55{width:55%;}
.w-50{width:50%;}
.w-45{width:45%;}
.w-40{width:40%;}
.w-35{width:35%;}
.w-30{width:30%;}
.w-25{width:25%;}
.w-20{width:20%;}
.w-15{width:15%;}
.w-10{width:10%;}

.hg-auto-80-lg{height:auto;}
.hg-init-md-auto{height:initial;}

.w-270px-200px-lg{width:270px}

.w-85-100-xl{width:85%;}
.w-85-100-lg{width:85%;}
.w-85-100-md{width:85%;}
.w-85-100-sm{width:85%;}
.w-80-100-xl{width:80%;}
.w-80-100-lg{width:80%;}
.w-80-100-md{width:80%;}
.w-80-100-sm{width:80%;}
.w-80-90-xl{width:80%;}
.w-80-90-lg{width:80%;}
.w-80-90-md{width:80%;}
.w-80-90-sm{width:80%;}
.w-70-100-xl{width:70%;}
.w-70-100-lg{width:70%;}
.w-70-100-md{width:70%;}
.w-70-100-sm{width:70%;}


.w-50-100-xl{width:50%;}
.w-50-100-lg{width:50%;}
.w-50-100-md{width:50%;}
.w-50-100-sm{width:50%;}
.w-40-100-xl{width:40%;}
.w-40-100-lg{width:40%;}
.w-40-100-md{width:40%;}
.w-40-100-sm{width:40%;}
.w-40-10-xl{width:40%;}
.w-40-10-lg{width:40%;}
.w-40-10-md{width:40%;}
.w-40-10-sm{width:40%;}
.w-30-100-xl{width:30%;}
.w-30-100-lg{width:30%;}
.w-30-100-md{width:30%;}
.w-30-100-sm{width:30%;}
.w-20-50-sm{width:20%;}

.display-only-sm{display: none;}
.display-only-md{display:none;}
.display-only-lg{display:none;}
.display-only-xl{display:none;}
.display-no-sm{display:block;}
.display-no-md{display:block;}
.display-no-lg{display:block;}
.display-no-xl{display:block;}

.d-flex-block-lg{display:flex;display : -webkit-flex;}

.py-100-50-md{padding:100px 0;}
.ml-50-20-md{margin-left:50%;}
.border-right-no-md{border-right:1px;border-right-style:solid;}

/* XL */
@media(max-width:1140px){
	/* DISPLAYS */
	.display-no-xl{display:none;}
	.display-only-xl{display:block;}

	/* WIDTHS */
	.w-30-100-xl{width:100%;}
	.w-40-10-xl{width:10%;}
	.w-40-100-xl{width:100%;}
	.w-50-100-xl{width:100%;}
	.w-70-100-xl{width:100%;}
	.w-80-90-xl{width:90%;}
	.w-80-100-xl{width:100%;}
	.w-85-100-xl{width:100%;}
}
/* LG */
@media(max-width:996px){
	/* DISPLAYS */	
	.display-only-lg{display:block;}
	.display-no-lg{display:none !important;}
	.d-flex-block-lg{display:block !important;}	

	/* HEIGHTS */
	.hg-auto-80-lg{height:80%;}

	/* WIDTHS */
	.w-30-100-lg{width:100%;}
	.w-40-10-lg{width:10%;}
	.w-40-100-lg{width:100%;}
	.w-50-100-lg{width:100%;}
	.w-70-100-lg{width:100%;}
	.w-80-90-lg{width:90%;}
	.w-80-100-lg{width:100%;}
	.w-85-100-lg{width:100%;}
	.w-270px-200px-lg{width:200px}
	
}
/* MD */
@media(max-width:720px){
	/* DISPLAYS */	
	.display-no-md{display:none;}
	.display-only-md{display:block;}	

	/* HEIGHTS */
	.hg-init-md-auto{height:auto !important;}

	/* WIDTHS */
	.w-30-100-md{width:100%;}
	.w-40-10-md{width:10%;}
	.w-40-100-md{width:100%;}
	.w-50-100-md{width:100%;}
	.w-70-100-md{width:100%;}
	.w-80-90-md{width:90%;}	
	.w-80-100-md{width:100%;}
	.w-85-100-md{width:100%;}
	

	/* PADDINGS - MARGINS - BORDERS */
	.py-100-50-md{padding:50px 0 !important;}
	.ml-50-20-md{margin-left:20% !important;}
	.border-right-no-md{border-right:none;}
}
/* SM */
@media(max-width:576px){
	/* DISPLAYS */	
	.display-no-sm{display:none;}
	.display-only-sm{display:block;}
	
	/* WIDTHS */
	.w-20-50-sm{width:50%;}	
	.w-30-100-sm{width:100%;}
	.w-40-10-sm{width:10%;}
	.w-40-100-sm{width:100%;}
	.w-50-100-sm{width:100%;}
	.w-70-100-sm{width:100%;}
	.w-80-90-sm{width:90%;}	
	.w-80-100-sm{width:100%;}
	.w-85-100-sm{width:100%;}	
}

.display-no-620{display:initial;}
.display-only-620{display:none;}
@media(max-width:620px){.display-no-620{display:none;}.display-only-620{display:block;}}