/* CSS DOCUMENT */

@font-face{
  font-family: 'Damion';
  font-style: normal;
  src: url('Damion/Damion-Regular.ttf');
}

@font-face{
    font-family: 'Lobster';
    font-style: normal;
    src: url('Lobster/Lobster-Regular.ttf');
}

@font-face{
  font-family: 'Quicksand';
  font-style: normal;
  src: url('Quicksand/Quicksand-Regular.ttf');
}

@font-face{font-family: 'Merriweather-Black';font-style: normal;src: url('Merriweather/Merriweather-Black.ttf');}
@font-face{font-family: 'Merriweather-Bold';font-style: normal;src: url('Merriweather/Merriweather-Bold.ttf');}
@font-face{font-family: 'Merriweather-Light';font-style: normal;src: url('Merriweather/Merriweather-Light.ttf');}
@font-face{font-family: 'Merriweather';font-style: normal;src: url('Merriweather/Merriweather-Regular.ttf');}


@font-face{ font-family: 'Roboto-Black'; font-style: normal; src: url('Roboto/Roboto-Black.ttf');}
@font-face{ font-family: 'Roboto-Bold'; font-style: normal; src: url('Roboto/Roboto-Bold.ttf');}
@font-face{ font-family: 'Roboto-Light'; font-style: normal; src: url('Roboto/Roboto-Light.ttf');}
@font-face{ font-family: 'Roboto-Medium'; font-style: normal; src: url('Roboto/Roboto-Medium.ttf');}
@font-face{ font-family: 'Roboto-Thin'; font-style: normal; src: url('Roboto/Roboto-Thin.ttf');}
@font-face{ font-family: 'Roboto'; font-style: normal; src: url('Roboto/Roboto-Regular.ttf');}











/* FONT CLASSES */

.font-damion{
  font-family: 'Damion';
}
.font-lobster{
    font-family: 'Lobster';
}
.font-quicksand{
  font-family: 'Quicksand';
}

.font-merriweather-black{font-family: 'Merriweather-Black';}
.font-merriweather-bold{font-family: 'Merriweather-Bold';}
.font-merriweather-light{font-family: 'Merriweather-Light' !important;}
.font-merriweather{font-family: 'Merriweather';}


.font-roboto-black{font-family: 'Roboto-Black';}
.font-roboto-bold{font-family: 'Roboto-Bold';}
.font-roboto-light{font-family: 'Roboto-Light';}
.font-roboto-medium{font-family: 'Roboto-Medium';}
.font-roboto-thin{font-family: 'Roboto-Thin';}
.font-roboto{font-family: 'Roboto';}



















/* FONTS SHADOWS */
.font-shadow-gray-md{
    text-shadow: -1px -1px 2px gray;
  }
.font-shadow-gray-sm{
  text-shadow: 0px 0px 1px gray;
}
.text-shadow-00{text-shadow: 0px 0px 1px gray;}
.text-shadow-01{text-shadow: 0px 0px 2px gray;}
.text-shadow-02{text-shadow: 0px 0px 3px gray;}
.text-shadow-03{text-shadow: 0px 0px 4px gray;}
.text-shadow-04{text-shadow: 0px 0px 5px gray;}

.text-shadow-05{text-shadow: 0px 0px 1px black;}
.text-shadow-06{text-shadow: 0px 0px 2px black;}
.text-shadow-07{text-shadow: 0px 0px 3px black;}
.text-shadow-08{text-shadow: 0px 0px 4px black;}
.text-shadow-09{text-shadow: 0px 0px 5px black;}

.text-shadow-10{text-shadow: 0px 0px 1px #f79533;}
.text-shadow-11{text-shadow: 0px 0px 2px #f79533;}
.text-shadow-12{text-shadow: 0px 0px 3px #f79533;}
.text-shadow-13{text-shadow: 0px 0px 4px #f79533;}
.text-shadow-14{text-shadow: 0px 0px 5px #f79533;}

.text-shadow-15{text-shadow: 0px 0px 1px #d84735;}
.text-shadow-16{text-shadow: 0px 0px 2px #d84735;}
.text-shadow-17{text-shadow: 0px 0px 3px #d84735;}
.text-shadow-18{text-shadow: 0px 0px 4px #d84735;}
.text-shadow-19{text-shadow: 0px 0px 5px #d84735;}








/* FONT WEIGHTS */
.font-weight-semi-bold{font-weight: 700 !important;}
.font-weight-sm-bold{font-weight: 500 !important;}






/* LETTER SPACING */
.letter-spacing--1px{letter-spacing: -1px}
.letter-spacing--2px{letter-spacing: -2px}
.letter-spacing--3px{letter-spacing: -3px}
.letter-spacing-1px{letter-spacing: 1px}
.letter-spacing-2px{letter-spacing: 2px}
.letter-spacing-3px{letter-spacing: 3px}
.letter-spacing-4px{letter-spacing: 4px}
.letter-spacing-5px{letter-spacing: 5px}
.letter-spacing-6px{letter-spacing: 5px}
.letter-spacing-7px{letter-spacing: 5px}






/* LINE HEIGHT */
.line-height-05{line-height: 0.5;}
.line-height-06{line-height: 0.6;}
.line-height-07{line-height: 0.7;}
.line-height-08{line-height: 0.8;}
.line-height-09{line-height: 0.9;}
.line-height-11{line-height: 1.1;}
.line-height-12{line-height: 1.2;}
.line-height-13{line-height: 1.3;}
.line-height-14{line-height: 1.4;}
.line-height-15{line-height: 1.5;}
.line-height-16{line-height: 1.6;}
.line-height-17{line-height: 1.7;}
.line-height-18{line-height: 1.8;}
.line-height-19{line-height: 1.9;}
.line-height-20{line-height: 2;}



/* WORD SPACING */
.word-spacing--1px{word-spacing:-1px;}
.word-spacing--2px{word-spacing:-2px;}
.word-spacing--3px{word-spacing:-3px;}
.word-spacing--4px{word-spacing:-4px;}
.word-spacing--5px{word-spacing:-5px;}
.word-spacing-1px{word-spacing:1px;}
.word-spacing-2px{word-spacing:2px;}
.word-spacing-3px{word-spacing:3px;}
.word-spacing-4px{word-spacing:4px;}
.word-spacing-5px{word-spacing:5px;}
.word-spacing-6px{word-spacing:6px;}
.word-spacing-7px{word-spacing:7px;}
.word-spacing-8px{word-spacing:8px;}
.word-spacing-9px{word-spacing:9px;}
.word-spacing-10px{word-spacing:10px;}



/* TEXT OVERFLOW */
.text-overflow-clip{overflow:hidden;text-overflow:clip;}
.text-overflow-ellipsis{overflow:hidden;text-overflow:ellipsis;}




/* DIRECTION */
.line-direction-rtl{direction: rtl;}
.line-direction-ltr{direction: ltr;}

/* WRITING MODE */
.writing-mode-vertical{
  writing-mode: vertical-rl;
}

/* TEXT ORIENTATION */
.text-orientation-mixed{text-orientation: mixed;}
.text-orientation-upright{text-orientation: upright;}
.text-orientation-sideways{text-orientation: sideways;}








/* FONTS SIZES */

/* ######### */
.font-size-87{font-size: 87%;}
.font-size-90{font-size: 90%;}
.font-size-95{font-size: 95%;}
.font-size-100{font-size: 100%;}
.font-size-105{font-size: 105%;}
.font-size-110{font-size: 110%;}
.font-size-115{font-size: 115%;}
.font-sz-120{font-size: 120%;}
.font-sz-125{font-size: 125%;}
.font-sz-130{font-size: 130%;}
.font-sz-135{font-size: 135%;}
.font-sz-140{font-size: 140%;}
.font-sz-145{font-size: 145%;}
.font-sz-150{font-size: 150%;}

/* #######   font-size pixels */
.font-size-8px{font-size: 8px;}
.font-size-9px{font-size: 9px;}
.font-size-10px{font-size: 10px;}
.font-size-11px{font-size: 11px;}
.font-size-12px{font-size: 12px;}
.font-size-13px{font-size: 13px;}
.font-size-14px{font-size: 14px;}
.font-size-15px{font-size: 15px;}
.font-size-16px{font-size: 16px;}
.font-size-17px{font-size: 17px;}
.font-size-18px{font-size: 18px;}
.font-size-19px{font-size: 19px;}
.font-size-20px{font-size: 20px;}
.font-size-21px{font-size: 21px;}
.font-size-22px{font-size: 22px;}
.font-size-23px{font-size: 23px;}
.font-size-24px{font-size: 24px;}
.font-size-25px{font-size: 25px;}
.font-size-26px{font-size: 26px;}
.font-size-27px{font-size: 27px;}
.font-size-28px{font-size: 28px;}
.font-size-29px{font-size: 29px;}
.font-size-30px{font-size: 30px;}
.font-size-35px{font-size: 35px;}
.font-size-36px{font-size: 36px;}
.font-size-37px{font-size: 37px;}
.font-size-38px{font-size: 38px;}
.font-size-39px{font-size: 39px;}
.font-size-40px{font-size: 40px;}
.font-size-41px{font-size: 41px;}
.font-size-42px{font-size: 42px;}
.font-size-43px{font-size: 43px;}
.font-size-44px{font-size: 44px;}
.font-size-45px{font-size: 45px;}
.font-size-46px{font-size: 46px;}
.font-size-47px{font-size: 47px;}
.font-size-48px{font-size: 48px;}
.font-size-49px{font-size: 49px;}
.font-size-50px{font-size: 50px;}
.font-size-51px{font-size: 51px;}
.font-size-52px{font-size: 52px;}
.font-size-53px{font-size: 53px;}
.font-size-54px{font-size: 54px;}
.font-size-55px{font-size: 55px;}
.font-size-56px{font-size: 56px;}
.font-size-57px{font-size: 57px;}
.font-size-58px{font-size: 58px;}
.font-size-59px{font-size: 59px;}
.font-size-60px{font-size: 60px;}
.font-size-61px{font-size: 61px;}
.font-size-62px{font-size: 62px;}
.font-size-63px{font-size: 63px;}
.font-size-64px{font-size: 64px;}
.font-size-65px{font-size: 65px;}
.font-size-66px{font-size: 66px;}
.font-size-67px{font-size: 67px;}
.font-size-68px{font-size: 68px;}
.font-size-69px{font-size: 69px;}
.font-size-70px{font-size: 70px;}
.font-size-71px{font-size: 71px;}
.font-size-72px{font-size: 72px;}
.font-size-73px{font-size: 73px;}
.font-size-74px{font-size: 74px;}
.font-size-75px{font-size: 75px;}
.font-size-76px{font-size: 76px;}
.font-size-77px{font-size: 77px;}
.font-size-78px{font-size: 78px;}
.font-size-79px{font-size: 79px;}
.font-size-80px{font-size: 80px;}


.font-size-12px-2c{font-size: 12px;}
.font-size-13px-2c{font-size: 13px;}
.font-size-14px-2c{font-size: 14px;}
.font-size-15px-2c{font-size: 15px;}
.font-size-16px-2c{font-size: 16px;}
.font-size-17px-2c{font-size: 17px;}
.font-size-18px-2c{font-size: 18px;}
.font-size-19px-2c{font-size: 19px;}
.font-size-20px-2c{font-size: 20px;}
.font-size-21px-2c{font-size: 21px;}
.font-size-22px-2c{font-size: 22px;}
.font-size-23px-2c{font-size: 23px;}
.font-size-24px-2c{font-size: 24px;}
.font-size-25px-2c{font-size: 25px;}
.font-size-26px-2c{font-size: 26px;}
.font-size-27px-2c{font-size: 27px;}
.font-size-28px-2c{font-size: 28px;}
.font-size-29px-2c{font-size: 29px;}
.font-size-30px-2c{font-size: 30px;}
.font-size-31px-2c{font-size: 31px;}
.font-size-32px-2c{font-size: 32px;}
.font-size-33px-2c{font-size: 33px;}
.font-size-34px-2c{font-size: 34px;}
.font-size-35px-2c{font-size: 35px;}
.font-size-36px-2c{font-size: 36px;}
.font-size-37px-2c{font-size: 37px;}
.font-size-38px-2c{font-size: 38px;}
.font-size-39px-2c{font-size: 39px;}
.font-size-40px-2c{font-size: 40px;}
.font-size-41px-2c{font-size: 41px;}
.font-size-42px-2c{font-size: 42px;}
.font-size-43px-2c{font-size: 43px;}
.font-size-44px-2c{font-size: 44px;}
.font-size-45px-2c{font-size: 45px;}
.font-size-46px-2c{font-size: 46px;}
.font-size-47px-2c{font-size: 47px;}
.font-size-48px-2c{font-size: 48px;}
.font-size-49px-2c{font-size: 49px;}
.font-size-50px-2c{font-size: 50px;}
.font-size-51px-2c{font-size: 51px;}
.font-size-52px-2c{font-size: 52px;}
.font-size-53px-2c{font-size: 53px;}
.font-size-54px-2c{font-size: 54px;}
.font-size-55px-2c{font-size: 55px;}
.font-size-56px-2c{font-size: 56px;}
.font-size-57px-2c{font-size: 57px;}
.font-size-58px-2c{font-size: 58px;}
.font-size-59px-2c{font-size: 59px;}
.font-size-60px-2c{font-size: 60px;}
.font-size-61px-2c{font-size: 61px;}
.font-size-62px-2c{font-size: 62px;}
.font-size-63px-2c{font-size: 63px;}
.font-size-64px-2c{font-size: 64px;}
.font-size-65px-2c{font-size: 65px;}
.font-size-66px-2c{font-size: 66px;}
.font-size-67px-2c{font-size: 67px;}
.font-size-68px-2c{font-size: 68px;}
.font-size-69px-2c{font-size: 69px;}
.font-size-70px-2c{font-size: 70px;}
.font-size-71px-2c{font-size: 71px;}
.font-size-72px-2c{font-size: 72px;}
.font-size-73px-2c{font-size: 73px;}
.font-size-74px-2c{font-size: 74px;}
.font-size-75px-2c{font-size: 75px;}
.font-size-76px-2c{font-size: 76px;}
.font-size-77px-2c{font-size: 77px;}
.font-size-78px-2c{font-size: 78px;}
.font-size-79px-2c{font-size: 79px;}
.font-size-80px-2c{font-size: 80px;}

.font-size-12px-3c{font-size: 12px;}
.font-size-13px-3c{font-size: 13px;}
.font-size-14px-3c{font-size: 14px;}
.font-size-15px-3c{font-size: 15px;}
.font-size-16px-3c{font-size: 16px;}
.font-size-17px-3c{font-size: 17px;}
.font-size-18px-3c{font-size: 18px;}
.font-size-19px-3c{font-size: 19px;}
.font-size-20px-3c{font-size: 20px;}
.font-size-21px-3c{font-size: 21px;}
.font-size-22px-3c{font-size: 22px;}
.font-size-23px-3c{font-size: 23px;}
.font-size-24px-3c{font-size: 24px;}
.font-size-25px-3c{font-size: 25px;}
.font-size-26px-3c{font-size: 26px;}
.font-size-27px-3c{font-size: 27px;}
.font-size-28px-3c{font-size: 28px;}
.font-size-29px-3c{font-size: 29px;}
.font-size-30px-3c{font-size: 30px;}
.font-size-31px-3c{font-size: 31px;}
.font-size-32px-3c{font-size: 32px;}
.font-size-33px-3c{font-size: 33px;}
.font-size-34px-3c{font-size: 34px;}
.font-size-35px-3c{font-size: 35px;}
.font-size-36px-3c{font-size: 36px;}
.font-size-37px-3c{font-size: 37px;}
.font-size-38px-3c{font-size: 38px;}
.font-size-39px-3c{font-size: 39px;}
.font-size-40px-3c{font-size: 40px;}
.font-size-41px-3c{font-size: 41px;}
.font-size-42px-3c{font-size: 42px;}
.font-size-43px-3c{font-size: 43px;}
.font-size-44px-3c{font-size: 44px;}
.font-size-45px-3c{font-size: 45px;}
.font-size-46px-3c{font-size: 46px;}
.font-size-47px-3c{font-size: 47px;}
.font-size-48px-3c{font-size: 48px;}
.font-size-49px-3c{font-size: 49px;}
.font-size-50px-3c{font-size: 50px;}
.font-size-51px-3c{font-size: 51px;}
.font-size-52px-3c{font-size: 52px;}
.font-size-53px-3c{font-size: 53px;}
.font-size-54px-3c{font-size: 54px;}
.font-size-55px-3c{font-size: 55px;}
.font-size-56px-3c{font-size: 56px;}
.font-size-57px-3c{font-size: 57px;}
.font-size-58px-3c{font-size: 58px;}
.font-size-59px-3c{font-size: 59px;}
.font-size-60px-3c{font-size: 60px;}
.font-size-61px-3c{font-size: 61px;}
.font-size-62px-3c{font-size: 62px;}
.font-size-63px-3c{font-size: 63px;}
.font-size-64px-3c{font-size: 64px;}
.font-size-65px-3c{font-size: 65px;}
.font-size-66px-3c{font-size: 66px;}
.font-size-67px-3c{font-size: 67px;}
.font-size-68px-3c{font-size: 68px;}
.font-size-69px-3c{font-size: 69px;}
.font-size-70px-3c{font-size: 70px;}
.font-size-71px-3c{font-size: 71px;}
.font-size-72px-3c{font-size: 72px;}
.font-size-73px-3c{font-size: 73px;}
.font-size-74px-3c{font-size: 74px;}
.font-size-75px-3c{font-size: 75px;}
.font-size-76px-3c{font-size: 76px;}
.font-size-77px-3c{font-size: 77px;}
.font-size-78px-3c{font-size: 78px;}
.font-size-79px-3c{font-size: 79px;}
.font-size-80px-3c{font-size: 80px;}


.font-size-60px-4c{font-size: 60px;}
.font-size-40px-4c{font-size: 40px;}

.font-size-60px-5c{font-size: 60px;}
.font-size-40px-5c{font-size: 40px;}


@media (max-width: 1600px){
  .font-size-60px-5c{font-size:55px;}
  .font-size-40px-5c{font-size:35px;}
}


@media (max-width: 1400px){
  .font-size-60px-5c{font-size:50px;}
  .font-size-40px-5c{font-size:30px;}

  .font-size-60px-4c{font-size:57px;}
  .font-size-40px-4c{font-size:37px;}
}

@media (max-width: 1200px){
  .font-size-60px-5c{font-size:48px;}
  .font-size-40px-5c{font-size:28px;}

  .font-size-60px-4c{font-size:54px;}
  .font-size-40px-4c{font-size:34px;}

  .font-size-80px-3c{font-size:77px;}
  .font-size-79px-3c{font-size:76px;}
  .font-size-78px-3c{font-size:75px;}
  .font-size-77px-3c{font-size:74px;}
  .font-size-76px-3c{font-size:73px;}
  .font-size-75px-3c{font-size:72px;}
  .font-size-74px-3c{font-size:71px;}
  .font-size-73px-3c{font-size:70px;}
  .font-size-72px-3c{font-size:69px;}
  .font-size-71px-3c{font-size:68px;}
  .font-size-70px-3c{font-size:67px;}
  .font-size-69px-3c{font-size:66px;}
  .font-size-68px-3c{font-size:65px;}
  .font-size-67px-3c{font-size:64px;}
  .font-size-66px-3c{font-size:63px;}
  .font-size-65px-3c{font-size:62px;}
  .font-size-64px-3c{font-size:61px;}
  .font-size-63px-3c{font-size:60px;}
  .font-size-62px-3c{font-size:59px;}
  .font-size-61px-3c{font-size:58px;}
  .font-size-60px-3c{font-size:57px;}
  .font-size-59px-3c{font-size:56px;}
  .font-size-58px-3c{font-size:55px;}
  .font-size-57px-3c{font-size:54px;}
  .font-size-56px-3c{font-size:53px;}
  .font-size-55px-3c{font-size:52px;}
  .font-size-54px-3c{font-size:51px;}
  .font-size-53px-3c{font-size:50px;}
  .font-size-52px-3c{font-size:49px;}
  .font-size-51px-3c{font-size:48px;}
  .font-size-50px-3c{font-size:47px;}
  .font-size-49px-3c{font-size:46px;}
  .font-size-48px-3c{font-size:45px;}
  .font-size-47px-3c{font-size:44px;}
  .font-size-46px-3c{font-size:43px;}
  .font-size-45px-3c{font-size:42px;}
  .font-size-44px-3c{font-size:41px;}
  .font-size-43px-3c{font-size:40px;}
  .font-size-42px-3c{font-size:39px;}
  .font-size-41px-3c{font-size:38px;}
  .font-size-40px-3c{font-size:37px;}
  .font-size-39px-3c{font-size:36px;}
  .font-size-38px-3c{font-size:35px;}
  .font-size-37px-3c{font-size:34px;}
  .font-size-36px-3c{font-size:33px;}
  .font-size-35px-3c{font-size:32px;}
  .font-size-34px-3c{font-size:31px;}
  .font-size-33px-3c{font-size:30px;}
  .font-size-32px-3c{font-size:29px;}
  .font-size-31px-3c{font-size:28px;}
  .font-size-30px-3c{font-size:27px;}
  .font-size-29px-3c{font-size:26px;}
  .font-size-28px-3c{font-size:25px;}
  .font-size-27px-3c{font-size:24px;}
  .font-size-26px-3c{font-size:23px;}
  .font-size-25px-3c{font-size:22px;}
  .font-size-24px-3c{font-size:21px;}
  .font-size-23px-3c{font-size:20px;}
  .font-size-22px-3c{font-size:19px;}
  .font-size-21px-3c{font-size:18px;}
  .font-size-20px-3c{font-size:17px;}
  .font-size-19px-3c{font-size:16px;}
  .font-size-18px-3c{font-size:15px;}
  .font-size-17px-3c{font-size:14px;}
  .font-size-16px-3c{font-size:13px;}
  .font-size-15px-3c{font-size:12px;}
  .font-size-14px-3c{font-size:11px;}
  .font-size-13px-3c{font-size:10px;}
  .font-size-12px-3c{font-size:9px;}



  .font-size-80px-2c{font-size: 78px;}
  .font-size-79px-2c{font-size: 77px;}
  .font-size-78px-2c{font-size: 76px;}
  .font-size-77px-2c{font-size: 75px;}
  .font-size-76px-2c{font-size: 74px;}
  .font-size-75px-2c{font-size: 73px;}
  .font-size-74px-2c{font-size: 72px;}
  .font-size-73px-2c{font-size: 71px;}
  .font-size-72px-2c{font-size: 70px;}
  .font-size-71px-2c{font-size: 69px;}
  .font-size-70px-2c{font-size: 68px;}
  .font-size-69px-2c{font-size: 67px;}
  .font-size-68px-2c{font-size: 66px;}
  .font-size-67px-2c{font-size: 65px;}
  .font-size-66px-2c{font-size: 64px;}
  .font-size-65px-2c{font-size: 63px;}
  .font-size-64px-2c{font-size: 62px;}
  .font-size-63px-2c{font-size: 61px;}
  .font-size-62px-2c{font-size: 60px;}
  .font-size-61px-2c{font-size: 59px;}
  .font-size-60px-2c{font-size: 58px;}
  .font-size-59px-2c{font-size: 57px;}
  .font-size-58px-2c{font-size: 56px;}
  .font-size-57px-2c{font-size: 55px;}
  .font-size-56px-2c{font-size: 54px;}
  .font-size-55px-2c{font-size: 53px;}
  .font-size-54px-2c{font-size: 52px;}
  .font-size-53px-2c{font-size: 51px;}
  .font-size-52px-2c{font-size: 50px;}
  .font-size-51px-2c{font-size: 49px;}
  .font-size-50px-2c{font-size: 48px;}
  .font-size-49px-2c{font-size: 47px;}
  .font-size-48px-2c{font-size: 46px;}
  .font-size-47px-2c{font-size: 45px;}
  .font-size-46px-2c{font-size: 44px;}
  .font-size-45px-2c{font-size: 43px;}
  .font-size-44px-2c{font-size: 42px;}
  .font-size-43px-2c{font-size: 41px;}
  .font-size-42px-2c{font-size: 40px;}
  .font-size-41px-2c{font-size: 39px;}
  .font-size-40px-2c{font-size: 38px;}
  .font-size-39px-2c{font-size: 37px;}
  .font-size-38px-2c{font-size: 36px;}
  .font-size-37px-2c{font-size: 35px;}
  .font-size-36px-2c{font-size: 34px;}
  .font-size-35px-2c{font-size: 33px;}
  .font-size-34px-2c{font-size: 32px;}
  .font-size-33px-2c{font-size: 31px;}
  .font-size-32px-2c{font-size: 30px;}
  .font-size-31px-2c{font-size: 29px;}
  .font-size-30px-2c{font-size: 28px;}
  .font-size-29px-2c{font-size: 27px;}
  .font-size-28px-2c{font-size: 26px;}
  .font-size-27px-2c{font-size: 25px;}
  .font-size-26px-2c{font-size: 24px;}
  .font-size-25px-2c{font-size: 23px;}
  .font-size-24px-2c{font-size: 22px;}
  .font-size-23px-2c{font-size: 21px;}
  .font-size-22px-2c{font-size: 20px;}
  .font-size-21px-2c{font-size: 19px;}
  .font-size-20px-2c{font-size: 18px;}
  .font-size-19px-2c{font-size: 17px;}
  .font-size-18px-2c{font-size: 16px;}
  .font-size-17px-2c{font-size: 15px;}
  .font-size-16px-2c{font-size: 14px;}
  .font-size-15px-2c{font-size: 13px;}
  .font-size-14px-2c{font-size: 12px;}
  .font-size-13px-2c{font-size: 11px;}
  .font-size-12px-2c{font-size: 10px;}
}
@media (max-width: 1090px){
  .font-size-60px-5c{font-size:46px;}
  .font-size-40px-5c{font-size:26px;}

  .font-size-60px-4c{font-size:51px;}
  .font-size-40px-4c{font-size:31px;}



  .font-size-80px-3c{font-size:74px;}
  .font-size-79px-3c{font-size:73px;}
  .font-size-78px-3c{font-size:72px;}
  .font-size-77px-3c{font-size:71px;}
  .font-size-76px-3c{font-size:70px;}
  .font-size-75px-3c{font-size:69px;}
  .font-size-74px-3c{font-size:68px;}
  .font-size-73px-3c{font-size:67px;}
  .font-size-72px-3c{font-size:66px;}
  .font-size-71px-3c{font-size:65px;}
  .font-size-70px-3c{font-size:64px;}
  .font-size-69px-3c{font-size:63px;}
  .font-size-68px-3c{font-size:62px;}
  .font-size-67px-3c{font-size:61px;}
  .font-size-66px-3c{font-size:60px;}
  .font-size-65px-3c{font-size:59px;}
  .font-size-64px-3c{font-size:58px;}
  .font-size-63px-3c{font-size:57px;}
  .font-size-62px-3c{font-size:56px;}
  .font-size-61px-3c{font-size:55px;}
  .font-size-60px-3c{font-size:54px;}
  .font-size-59px-3c{font-size:53px;}
  .font-size-58px-3c{font-size:52px;}
  .font-size-57px-3c{font-size:51px;}
  .font-size-56px-3c{font-size:50px;}
  .font-size-55px-3c{font-size:49px;}
  .font-size-54px-3c{font-size:48px;}
  .font-size-53px-3c{font-size:47px;}
  .font-size-52px-3c{font-size:46px;}
  .font-size-51px-3c{font-size:45px;}
  .font-size-50px-3c{font-size:44px;}
  .font-size-49px-3c{font-size:43px;}
  .font-size-48px-3c{font-size:42px;}
  .font-size-47px-3c{font-size:41px;}
  .font-size-46px-3c{font-size:40px;}
  .font-size-45px-3c{font-size:39px;}
  .font-size-44px-3c{font-size:38px;}
  .font-size-43px-3c{font-size:37px;}
  .font-size-42px-3c{font-size:36px;}
  .font-size-41px-3c{font-size:35px;}
  .font-size-40px-3c{font-size:34px;}
  .font-size-39px-3c{font-size:33px;}
  .font-size-38px-3c{font-size:32px;}
  .font-size-37px-3c{font-size:31px;}
  .font-size-36px-3c{font-size:30px;}
  .font-size-35px-3c{font-size:29px;}
  .font-size-34px-3c{font-size:28px;}
  .font-size-33px-3c{font-size:27px;}
  .font-size-32px-3c{font-size:26px;}
  .font-size-31px-3c{font-size:25px;}
  .font-size-30px-3c{font-size:24px;}
  .font-size-29px-3c{font-size:23px;}
  .font-size-28px-3c{font-size:22px;}
  .font-size-27px-3c{font-size:21px;}
  .font-size-26px-3c{font-size:20px;}
  .font-size-25px-3c{font-size:19px;}
  .font-size-24px-3c{font-size:18px;}
  .font-size-23px-3c{font-size:17px;}
  .font-size-22px-3c{font-size:16px;}
  .font-size-21px-3c{font-size:15px;}
  .font-size-20px-3c{font-size:14px;}
  .font-size-19px-3c{font-size:13px;}
  .font-size-18px-3c{font-size:12px;}
  .font-size-17px-3c{font-size:11px;}
  .font-size-16px-3c{font-size:10px;}
  .font-size-15px-3c{font-size:9px;}
  .font-size-14px-3c{font-size:8px;}
  .font-size-13px-3c{font-size:7px;}
  .font-size-12px-3c{font-size:6px;}



  .font-size-80px-2c{font-size: 76px;}
  .font-size-79px-2c{font-size: 75px;}
  .font-size-78px-2c{font-size: 74px;}
  .font-size-77px-2c{font-size: 73px;}
  .font-size-76px-2c{font-size: 72px;}
  .font-size-75px-2c{font-size: 71px;}
  .font-size-74px-2c{font-size: 70px;}
  .font-size-73px-2c{font-size: 69px;}
  .font-size-72px-2c{font-size: 68px;}
  .font-size-71px-2c{font-size: 67px;}
  .font-size-70px-2c{font-size: 66px;}
  .font-size-69px-2c{font-size: 65px;}
  .font-size-68px-2c{font-size: 64px;}
  .font-size-67px-2c{font-size: 63px;}
  .font-size-66px-2c{font-size: 62px;}
  .font-size-65px-2c{font-size: 61px;}
  .font-size-64px-2c{font-size: 60px;}
  .font-size-63px-2c{font-size: 59px;}
  .font-size-62px-2c{font-size: 58px;}
  .font-size-61px-2c{font-size: 57px;}
  .font-size-60px-2c{font-size: 56px;}
  .font-size-59px-2c{font-size: 55px;}
  .font-size-58px-2c{font-size: 54px;}
  .font-size-57px-2c{font-size: 53px;}
  .font-size-56px-2c{font-size: 52px;}
  .font-size-55px-2c{font-size: 51px;}
  .font-size-54px-2c{font-size: 50px;}
  .font-size-53px-2c{font-size: 49px;}
  .font-size-52px-2c{font-size: 48px;}
  .font-size-51px-2c{font-size: 47px;}
  .font-size-50px-2c{font-size: 46px;}
  .font-size-49px-2c{font-size: 45px;}
  .font-size-48px-2c{font-size: 44px;}
  .font-size-47px-2c{font-size: 43px;}
  .font-size-46px-2c{font-size: 42px;}
  .font-size-45px-2c{font-size: 41px;}
  .font-size-44px-2c{font-size: 40px;}
  .font-size-43px-2c{font-size: 39px;}
  .font-size-42px-2c{font-size: 38px;}
  .font-size-41px-2c{font-size: 37px;}
  .font-size-40px-2c{font-size: 36px;}
  .font-size-39px-2c{font-size: 35px;}
  .font-size-38px-2c{font-size: 34px;}
  .font-size-37px-2c{font-size: 33px;}
  .font-size-36px-2c{font-size: 32px;}
  .font-size-35px-2c{font-size: 31px;}
  .font-size-34px-2c{font-size: 30px;}
  .font-size-33px-2c{font-size: 29px;}
  .font-size-32px-2c{font-size: 28px;}
  .font-size-31px-2c{font-size: 27px;}
  .font-size-30px-2c{font-size: 26px;}
  .font-size-29px-2c{font-size: 25px;}
  .font-size-28px-2c{font-size: 24px;}
  .font-size-27px-2c{font-size: 23px;}
  .font-size-26px-2c{font-size: 22px;}
  .font-size-25px-2c{font-size: 21px;}
  .font-size-24px-2c{font-size: 20px;}
  .font-size-23px-2c{font-size: 19px;}
  .font-size-22px-2c{font-size: 18px;}
  .font-size-21px-2c{font-size: 17px;}
  .font-size-20px-2c{font-size: 16px;}
  .font-size-19px-2c{font-size: 15px;}
  .font-size-18px-2c{font-size: 14px;}
  .font-size-17px-2c{font-size: 13px;}
  .font-size-16px-2c{font-size: 12px;}
  .font-size-15px-2c{font-size: 11px;}
  .font-size-14px-2c{font-size: 10px;}
  .font-size-13px-2c{font-size: 9px;}
  .font-size-12px-2c{font-size: 8px;}
}
@media (max-width: 800px){
  .font-size-60px-4c{font-size:48px;}
  .font-size-40px-4c{font-size:28px;}


  .font-size-80px-3c{font-size:71px;}
  .font-size-79px-3c{font-size:70px;}
  .font-size-78px-3c{font-size:69px;}
  .font-size-77px-3c{font-size:68px;}
  .font-size-76px-3c{font-size:67px;}
  .font-size-75px-3c{font-size:66px;}
  .font-size-74px-3c{font-size:65px;}
  .font-size-73px-3c{font-size:64px;}
  .font-size-72px-3c{font-size:63px;}
  .font-size-71px-3c{font-size:62px;}
  .font-size-70px-3c{font-size:61px;}
  .font-size-69px-3c{font-size:60px;}
  .font-size-68px-3c{font-size:59px;}
  .font-size-67px-3c{font-size:58px;}
  .font-size-66px-3c{font-size:57px;}
  .font-size-65px-3c{font-size:56px;}
  .font-size-64px-3c{font-size:55px;}
  .font-size-63px-3c{font-size:54px;}
  .font-size-62px-3c{font-size:53px;}
  .font-size-61px-3c{font-size:52px;}
  .font-size-60px-3c{font-size:51px;}
  .font-size-59px-3c{font-size:50px;}
  .font-size-58px-3c{font-size:49px;}
  .font-size-57px-3c{font-size:48px;}
  .font-size-56px-3c{font-size:47px;}
  .font-size-55px-3c{font-size:46px;}
  .font-size-54px-3c{font-size:45px;}
  .font-size-53px-3c{font-size:44px;}
  .font-size-52px-3c{font-size:43px;}
  .font-size-51px-3c{font-size:42px;}
  .font-size-50px-3c{font-size:41px;}
  .font-size-49px-3c{font-size:40px;}
  .font-size-48px-3c{font-size:39px;}
  .font-size-47px-3c{font-size:38px;}
  .font-size-46px-3c{font-size:37px;}
  .font-size-45px-3c{font-size:36px;}
  .font-size-44px-3c{font-size:35px;}
  .font-size-43px-3c{font-size:34px;}
  .font-size-42px-3c{font-size:33px;}
  .font-size-41px-3c{font-size:32px;}
  .font-size-40px-3c{font-size:31px;}
  .font-size-39px-3c{font-size:30px;}
  .font-size-38px-3c{font-size:29px;}
  .font-size-37px-3c{font-size:28px;}
  .font-size-36px-3c{font-size:27px;}
  .font-size-35px-3c{font-size:26px;}
  .font-size-34px-3c{font-size:25px;}
  .font-size-33px-3c{font-size:24px;}
  .font-size-32px-3c{font-size:23px;}
  .font-size-31px-3c{font-size:22px;}
  .font-size-30px-3c{font-size:21px;}
  .font-size-29px-3c{font-size:20px;}
  .font-size-28px-3c{font-size:19px;}
  .font-size-27px-3c{font-size:18px;}
  .font-size-26px-3c{font-size:17px;}
  .font-size-25px-3c{font-size:16px;}
  .font-size-24px-3c{font-size:15px;}
  .font-size-23px-3c{font-size:14px;}
  .font-size-22px-3c{font-size:13px;}
  .font-size-21px-3c{font-size:12px;}
  .font-size-20px-3c{font-size:11px;}
  .font-size-19px-3c{font-size:13px;}
  .font-size-18px-3c{font-size:12px;}
  .font-size-17px-3c{font-size:11px;}
  .font-size-16px-3c{font-size:10px;}
  .font-size-15px-3c{font-size:9px;}
  .font-size-14px-3c{font-size:8px;}
  .font-size-13px-3c{font-size:7px;}
  .font-size-12px-3c{font-size:6px;}
}



/* ###########  */
.font-responsive{
  font-size: 1em;
}
.font-responsive-sm{font-size: 1em;}
.font-responsive-1-5-sm{font-size: 1.45em;}
.font-responsive-2-sm{font-size: 2em;}

@media (max-width: 1400px){
  .font-responsive{font-size:90%;}
  .font-responsive-1-5-sm{font-size: 85%;}
}
@media (max-width: 1200px){
  .font-responsive{font-size:85%;}

}
@media (max-width: 1090px){
  .font-responsive{font-size:80%;}
}
@media (max-width: 800px){
  .font-responsive{font-size:65%;}
  .font-responsive-sm{font-size:80%;}
  .font-responsive-1-5-sm{font-size: 75%;}
  .font-responsive-2-sm{font-size:70%;}
}
